# Database
DATABASE_URL="postgresql://supermarkets:supermarkets_dev@localhost:5432/supermarkets_db?schema=public"

# Server
PORT=3000
NODE_ENV=development
API_PREFIX=/api

# Auth
JWT_SECRET="your-super-secret-jwt-key-min-32-chars-change-in-production"
JWT_EXPIRES_IN="15m"
REFRESH_SECRET="your-super-secret-refresh-key-min-32-chars-change-in-production"
REFRESH_EXPIRES_IN="7d"

# Storage
STORAGE_PROVIDER="local" # local | s3

# Queue (opcional - se usar BullMQ)
# REDIS_URL="redis://localhost:6379"
