# Database
DATABASE_URL="postgresql://supermarkets:supermarkets_dev@localhost:5432/supermarkets_db?schema=public"

# Environment
NODE_ENV=development

# Queue (opcional - se usar BullMQ)
# REDIS_URL="redis://localhost:6379"

